

/* Variables */


/*Reset*/
body {
    margin: 0;
    padding: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.screen-container {
    border: 2px black solid;
    height: 100px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.number[value="0"] {
    grid-column: 1/span 2;
}