/* Variables */
:root {
    --main-bg: rgb(131, 194, 136);
    --calculator-bg: rgb(43, 43, 43); 
}

/*Reset*/
body {
    margin: 0;
    padding: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--main-bg);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 50vh;
    padding: 20px;
    background-color: var(--calculator-bg);
}

.screen-container {
    border: 3px black solid;
    height: 100px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 100%;
}

.number[value="0"] {
    grid-column: 1/span 2;
}